body {
  min-height: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

h1 {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

#game {
  width: 240px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dfdfdf;
  margin: 20px 0;
}

.cell {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #909090;
  font-size: 28px;
  background-color: #dfdfdf;
  color: #fff;
}

#restartButton {
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

#gameOver,
#gameClear {
  position: absolute;
  top: calc(100% + 10px);
  font-size: 24px;
  visibility: hidden;
}

#gameOver {
  color: red;
}

#gameClear {
  color: green;
}

.cell-open {
  background-color: #bfbfbf;
  color: black;
}

.cell-flagged {
  color: #fff;
}

.cell-1 { color: blue; }
.cell-2 { color: green; }
.cell-3 { color: red; }
.cell-4 { color: purple; }
